@page
@model Projekt.Pages.Offers.OferrsModel
@{
}

<div id="backdrop"></div>
<form class="search-form" method="post">
    <span class="search-form__select-label">Wybierz atrybut wyszukiwania: </span>
    <select id="searchSelect" class="search-form__select" asp-for="SelectedField">
        <option selected value="Location">Location</option>
        <option value="Name">Name</option>
        <option value="Category">Category</option>
    </select>
    <span class="search-form__input-label">Fraza wyszukiwania: </span>
    <select id="categorySelect" class="search-form__select" asp-for="SelectedCategoryID">

        @foreach (var category in Model.Categories.Categories)
        {
            <option value=@category.Id>@category.Name</option>
        }

    </select>
    <input class="search-form__text-input" id="searchInput" asp-for="SearchPhrase" />
    <button class="search-form__submit">Zatwierdź</button>
</form>

<div id="offers" class="offers">
    @foreach (var offer in @Model.Offers.Offers)
    {
        <div class="offer@(@offer.IsActive ? "" : "__unactive")">
            <div class="offer__detail">
                <p class="offer__name">@offer.Name.ToUpper()</p>
                <div class="offer__categories">

                    @foreach (var category in offer.Categories)
                    {
                        <span class="offer__category">@category.Name</span>
                    }

                </div>
                <p class="offer__owner">Właściciel: @offer.UserName</p>
                <p class="offer__date">@offer.Date.ToShortDateString()</p>
                <p class="offer__location">@offer.Location</p>  
                <p class="offer__description">@offer.Description</p>
            </div>
            <img class="offer__image" src=~/@offer.FilePath />
        </div>
    }
</div>







