@page
@model Projekt.Pages.Offers.OferrsModel
@{
}

<div>
    @foreach(var offer in @Model.Offer)
    {
        <p>@offer.Name @offer.User.UserName @offer.Date.ToShortDateString() @offer.Location</p>
        <div class="categories">
            <span>xd</span>
            @*@if(offer.CategoryGroups)<span>Category2</span>
            <span>Category3</span>*@
        </div>
        <img src=~/@offer.FilePath />
    }
</div>
